.button{
    font: inherit;
    border: 1px solid #088544;
    border-radius: 6px;
    background: #088544;
    color: white;
    padding: 0.6rem;
    cursor: pointer;
}

.button:hover,
.button:active {
  background: #0dad5b;
  border-color: #0dad5b;
}

.button:focus {
    outline: none;
  }